@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./assets/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
    height: 100vh;
}

#clock {
    font-size: clamp(2em, 14vw, 16em);
    font-weight: 700;
    text-align: center;
}

#date {
    font-size: clamp(1em, 3vw, 2.5em);
    font-weight: 300;
    text-align: center;
}

#settings-btn {
    position: absolute;
    bottom: 0px;
    height: clamp(3em, 10vw, 5em);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#settings-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#settings-menu {
    position: fixed;
    bottom: -50%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    transition: bottom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding-bottom: 100px;
}

.setting {
    text-align: left;
}

.setting label {
    display: block;
    margin-bottom: 5px;
}

#settings-menu select {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
}

#close-settings {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

@media (max-width: 768px) {
    #settings-menu {
        grid-template-columns: 1fr;
        height: 100vh;
        gap: 0;
    }
}

@media (max-width: 480px) {
    #settings-btn {
        font-size: 1.2em;
        height: 5em;
    }

    #settings-menu {
        padding: 15px;
        min-height: 450px;
    }

    #close-settings {
        padding: 15px 20px;
    }
}
