@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    display: flex;
    font-family: "Trispace", sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 800px;
    height: auto;
    padding: 20px 35px;
}

.mode-display {
    position: absolute;
    top: 25px;
    left: 45px;
    font-size: 20px;
    color: black;
    z-index: 1000;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 3px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    height: 120px;
}

.calc_button_row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    gap: 10px;
}

.calc_button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: calc(20% - 10px);
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc_button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #d72880;
}

.calc_button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc_button:hover {
    background-color: inherit;
}

.calc_button:active,
.calc_button:last-child:active {
    background-color: #ffef78;
}

.double {
    flex-basis: calc(47% - 10px);
}

.triple {
    flex-basis: calc(73% - 10px);
}
