@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #2d385c, #4a5d77);
}

.container {
    width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-weight: 600;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #d4dbe5;
}

.spacer {
    flex-grow: 0.01;
}

.units-box {
    font-size: 1.06rem;
    font-weight: 500;
    padding: 0 2.85rem 0 1rem;
}

.wrapper {
    margin: 1.25rem 1.75rem;
}

.wrapper .input-boxes input,
.wrapper .input-boxes select {
    width: 100%;
    height: 53px;
    background: none;
    color: #4b4b4b;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.7px;
    border: 1px solid #aaa;
    padding: 0 1rem;
    margin-bottom: 15px;
}

.wrapper .input-boxes input::placeholder {
    color: #4b4b4b;
}

.wrapper .input-boxes input:hover,
.wrapper .input-boxes select:hover {
    transition: all 0.3s ease;
    background-color: #f0f0f0;
    border-color: #666;
}

.wrapper .input-boxes input:focus,
.wrapper .input-boxes select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.wrapper .convert-btn {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #2e2e2e;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    font-size: 1.06rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin: 0.94rem 0 1.3rem;
}

.wrapper .convert-btn:hover {
    background: #43a047;
    transition: all 0.3s ease;
    transform: translateY(-3px);
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.wrapper .output-boxes {
    position: relative;
}

.wrapper .output-boxes input {
    width: 100%;
    height: 53px;
    color: #000;
    background: #eee;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.7px;
    border: 1px solid #aaa;
    padding: 0 1rem;
    margin-bottom: 15px;
}

.wrapper .output-boxes span {
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #707070;
}

.wrapper .output-boxes span:hover {
    color: #43a047 !important;
}
